.header-wrap {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  min-height: 115px;
  overflow: hidden;
  background-color: #1d1f23; }

.logo-bg-left {
  background-color: #fff;
  position: relative;
  z-index: 103;
  min-height: 115px; }
  .logo-bg-left:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 4000px;
    background-color: #fff;
    top: 0;
    right: 0;
    z-index: -1; }
  .logo-bg-left:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-color: #1d1f23;
    z-index: 103;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 57.5px 0 57.5px 20px;
    border-color: transparent transparent transparent #ffffff;
    z-index: -1; }

.header-item {
  color: #fff;
  font-size: 15px;
  line-height: 23px;
  font-weight: 400;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.header-item-text {
  margin: 0;
  border-left: 1px solid #fff;
  padding-left: 10px;
  color: #ffffff; }
  .header-item-text:hover {
    color: #ffcb2d;
    text-decoration: none;
    -webkit-transition: 0.4s color;
    -o-transition: 0.4s color;
    transition: 0.4s color; }

.header-phone-img {
  margin-right: 10px; }
  .header-phone-img:hover {
    -webkit-animation-duration: 0.15s;
            animation-duration: 0.15s;
    -webkit-animation-name: call;
            animation-name: call;
    -webkit-animation-iteration-count: 3;
            animation-iteration-count: 3; }

@-webkit-keyframes call {
  from {
    -webkit-transform: rotate(-7deg);
            transform: rotate(-7deg); }
  to {
    -webkit-transform: rotate(7deg);
            transform: rotate(7deg); } }

@keyframes call {
  from {
    -webkit-transform: rotate(-7deg);
            transform: rotate(-7deg); }
  to {
    -webkit-transform: rotate(7deg);
            transform: rotate(7deg); } }

.header-social-img {
  width: 44px;
  height: 44px;
  margin-left: 17px;
  border: 1px solid #ffffff;
  border-radius: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.header-social-link {
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .header-social-link:hover {
    color: #ffcb2d;
    text-decoration: none;
    -webkit-transition: 0.4s color;
    -o-transition: 0.4s color;
    transition: 0.4s color; }

.header-logo {
  position: absolute;
  top: 20px;
  left: -40px;
  z-index: 1005; }

@media (max-width: 991.9px) {
  .logo-bg-left {
    min-height: 100px; }
    .logo-bg-left:before {
      left: -100%; }
    .logo-bg-left::after {
      display: none; }
  .header-logo {
    position: static;
    display: block;
    margin: 0 auto;
    margin-top: 10px; }
  .header-item {
    padding: 15px 0; } }

@media (max-width: 576px) {
  .header-item-text {
    font-size: 13px; } }

.container-fluid .container {
  padding-left: 0;
  padding-right: 0; }

.promo {
  background: url("../img/promo/promo-bg.png") 50% 50% no-repeat;
  min-height: 750px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  background-size: cover; }

.promo-title {
  font-size: 50px;
  font-weight: 800;
  color: #fff;
  margin-top: 200px; }

.promo-sub-title {
  font-size: 50px;
  font-weight: 800;
  color: #ffcb2d;
  padding-bottom: 20px; }

.promo-text {
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: #fff; }

@media (max-width: 1200px) {
  .promo {
    background-position: 0% 0%; }
  .promo-title {
    margin-top: 100px; }
  .promo-row {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .promo {
    min-height: 550px; } }

@media (max-width: 768px) {
  .promo-title {
    font-size: 30px;
    margin-top: 80px; }
  .promo-sub-title {
    font-size: 30px; }
  .promo-text {
    font-size: 14px; }
  .promo-title, .promo-sub-title, .promo-text {
    text-align: center; } }

.services {
  font-family: 'Montserrat', sans-serif;
  margin-top: 100px; }

.services-title-sup {
  font-size: 20px;
  line-height: 11px;
  font-weight: 400;
  color: #ff9921; }

.services-title {
  font-size: 31px;
  line-height: 17px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 60px; }

.card-title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  text-align: center;
  margin-top: 40px; }

.card-text {
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 40px; }

.card-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 337px;
  position: relative;
  margin-bottom: 40px; }

.card-icon-wrap {
  width: 78px;
  height: 78px;
  position: absolute;
  background-color: #292929;
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  left: 50%;
  top: 180px;
  margin-left: -34px; }

.service {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: top;
  -webkit-align-items: top;
      -ms-flex-align: top;
          align-items: top; }

.feedback {
  background: url("../img/feedback/feedback-bg.png") no-repeat 50% 50%;
  min-height: 620px;
  background-size: cover;
  font-family: 'Montserrat', sans-serif; }

.feedback-title {
  font-size: 29px;
  font-weight: 600;
  margin-top: 130px;
  margin-bottom: 30px; }

.feedback-text {
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  margin-bottom: 40px; }

.feedback-tel {
  color: #ff8f17;
  display: inline-block;
  padding: 19px;
  font-size: 27px;
  font-weight: 600;
  background-color: #fff; }
  .feedback-tel:hover {
    text-decoration: none;
    color: #ff8f17;
    -webkit-box-shadow: 0 0 10px #ff8f17;
            box-shadow: 0 0 10px #ff8f17;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }

@media (max-width: 768px) {
  .feedback-title {
    font-size: 20px; }
  .feedback-text {
    font-size: 14px; }
  .feedback-tel {
    font-size: 20px; }
  .feedback {
    min-height: 570px; }
  .feedback-row {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; } }
